name: Daily Scraper and Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests pyTelegramBotAPI

      - name: Run Scraper
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }} # هون رح يسحبهم من الـ Secrets بأمان
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python scraping.py
